<!DOCTYPE html>
<html>
    <head>
        <title>Product-Supplier CRUD</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav>
            <a href="/suppliers">Suppliers</a> |
            <a href="/products">Products</a>
        </nav>
        <hr>
